<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5" IgnorableNamespaces="uap uap5 mp">
  <Identity Name="5703idea4good.PatientMonitor" Publisher="CN=idea4good" Version="1.7.0.0" />
  <mp:PhoneIdentity PhoneProductId="67755b35-ff83-4d13-9b93-145dd3e24455" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Patient Monitor</DisplayName>
    <PublisherDisplayName>idea4good</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="sample_uwp_cpp.App">
      <uap:VisualElements DisplayName="Patient Monitor" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Demo how patient monitor work in flip mode. APP base on Noodle UI framework." BackgroundColor="transparent">
        <uap:DefaultTile>
          <uap5:MixedRealityModel Path="Assets\3dLauncher.glb" />
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
</Package>